*.xml
*.html
*.log
*.png
*.csv#
*.csv
*.pyc
manual
.vscode
pyvenv.cfg
*/__pycache__
env-pybot
srx-pybot/src/output
srx-pybot/src/resources/local_credentials.py
srx-pybot/src/suites/testrail_bulk_retest.py
srx-pybot/src/suites/testrail_bulk_retest.py
srx-pybot/src/cases/api/hardware/create_20_iothubs.py