*.xml
*.html
*.log
*.png
*.csv#
*.csv
resources/environment.robot
resources/importRfid.csv
resources/importCatalog.csv
resources/importLocations.csv
resources/piplineV.robot
resources/updateCatalog.csv
resources/importUsageHistory.csv
resources/importInventory.csv
resources/updateInventory.csv
resources/importLifecycleStatus.csv
resources/__pycache__
resources/py/__pycache__
resources/generated
resources/staging.robot
resources/prod.robot
manual
resources/py/sftp.pyc
.vscode
**/__pycache__
**/**/__pycache__
**/**/**/__pycache__
**/**/**/**/__pycache__
**/**/**/*.pyc
**/**/**/**/*.pyc